* {
    height: 100;
    width: 100;
    /* outline: 1px pink solid; */
    box-sizing: border-box;
    background-color: black;
    color: white;
}

#Main {
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
}

.Title {
    text-align: center;
    font-family: "Playwrite HU", cursive;
}


.Recipe-Boxes {
    text-align: center;
    margin-top: 50px;
}

.box {
    box-sizing: content-box;
    width: 150px;
    background-color: lightgray;
    color: black;
    padding: 20px 40px;
    margin: 20px auto 20px ;
}